<div class="row ">
  {{#each products}}
  <div class="card col col-3 m-2">
    <div class="card-body ">

      <p>Codigo: {{this.code}}</p>
      <p>Nombre: {{this.title}}</p>
      <p>Descripcion: {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoria: {{this.category}}</p>

    </div>
  </div>
  {{/each}}
</div>